.color{
    color: rgb(233 217 194);
}

.color2{
    color: rgb(94 125 109);
}

.color3{
    color: rgb(178 94 45);
}

body{
    background-image: url(../Imagenes/Brand\ pattern\ for\ sustainable\ nutrition\ business_.jpg);

}
.header{
    display: flex;
    flex-direction: row;
}
.header1{
    background-color: rgb(178, 94, 45);
    width: 420px;
    height: 113px;
    
}
.header2{
    background-color: rgb(178, 94, 45);;
    width: 420px;
    height: 113px;
}
.header3{
    background-color: rgb(178, 94, 45);
    width: 420px;
    height: 113px;
}







/** home **/
.index-header {
    text-align: center;
    margin-bottom: 20px;
}

.h1-index{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(94 125 109);
    border-radius: 8px;
    color: rgb(233 217 194);
  }

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    
}

article.index {
    background: rgb(94 125 109);
    border-radius: 8px;
    padding: 10px;
    color:  rgb(233 217 194);
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
}

article a {
    color: beige;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
