.color{
    color: rgb(233 217 194);
}

.color2{
    color: rgb(94 125 109);
}

.color3{
    color: rgb(178 94 45);
}

.negro{
    background-image: url(../Imagenes/fondo.jpg);
}

.header{
    display: flex;
    flex-direction: row;
}
.header1{
    background-color: rgb(178, 94, 45);
    width: 420px;
    height: 50px;
}
.header2{
    background-color: rgb(178, 94, 45);;
    width: 420px;
    height: 50px;
}
.header3{
    background-color: rgb(178, 94, 45);
    width: 420px;
    height: 50px;
}
